page-profile {
    .user-photo ion-avatar {
        margin: 0 auto;
        width: 120px;
        height: 120px;
      }
    
      ion-list {
        margin-top: 24px;
        p {
          font-size: 12px;
          font-weight: 400;
          padding-bottom: 4px;
        };
        h2 {
          font-weight: 400;
          opacity: .5;
        }
      }

      ion-title {
        line-height: 10px;
        padding-left: 50px;
     }

      
  .edit{
    //color: #788cfd;
    border-radius: 10px;
    background-color: #56abf1;
    height: 10%;
    width: 50%;
    display: block;
    margin: auto;
}

.bg{
 
  background: url("../assets/imgs/Bg1.png") no-repeat center center fixed; 
  background-repeat: no-repeat;
  background-size: cover;
}

ion-card {
  position: relative;
  text-align: center;

}
.bold{
  font-weight: bold;
  color:#000000;
}

.card3{
  border-radius: 15px;
  background-color: transparent;
}
.card4{
  border-radius: 7px;
  background-color: light;
}

.menuicon {
  border-radius: 7px;
  margin: 0 auto;
  width: 50px;
  height: 50px;
}
.iconsize {
  color:#f7f79a;
  font-size: 70px;
}
.border2 {
  margin-top: 2%;
  background: rgba(0, 0, 0, .5);
  padding: 20px 20px 20px 20px;
  border-radius : 15px;
  border: 1px solid #f3f702;
}
.top_line {
 border-top: 2px solid rgb(0, 10, 26);
}
.top_line1 {
 color: rgba(107, 88, 2, 0.904);
 border-top: 1px solid rgb(0, 10, 26);
 font-weight: bold;
}
.header {
 color: rgba(107, 88, 2, 0.904);
 border-top: 1px solid rgb(0, 10, 26);
 font-weight: bold;
}
.bold{
  color: rgb(0, 0, 0);
  font-weight: bold;
}
}