page-home {
    .user-photo ion-avatar {
        margin: 0 auto;
        width: 120px;
        height: 120px;
      }
    
      ion-list {
        margin-top: 24px;
        p {
          font-size: 12px;
          font-weight: 400;
          padding-bottom: 4px;
        };
        h2 {
          font-weight: 400;
          opacity: .5;
        }
      }

      
  .edit{
    //color: #788cfd;
    border-radius: 10px;
    background-color: #56abf1;
    height: 10%;
    width: 50%;
    display: block;
    margin: auto;
}

.bg{
  background: url("../assets/imgs/Bg2.png") no-repeat center center fixed;
  //background: url("../assets/imgs/Bg.png") no-repeat center center fixed; 
  background-repeat: no-repeat;
  background-size: cover;
  //flex-shrink: 0;
  //flex-wrap: wrap;
}

.inlist{
  font-weight: bold;
  color:#000000;
}

.card3{
  border-radius: 15px;
  background-color: transparent;
}
.card4{
  border-radius: 7px;
  background-color: light;
}
.border1{
  border: 1px solid #f3f702;
}

.menuicon {
  border-radius: 7px;
  margin: 0 auto;
  width: 50px;
  height: 50px;
}
.iconsize {
  //color:#464646;
  color:#d4d4a4;
  font-size: 90px;
}

.mylogo{
  display: block;
  margin: auto; 
  border-radius: 20px;
}
.card-center {
  margin-top: 10%;
  height: 100%; 
  display: block;
  align-items: center; 
  justify-content: center;
}
.border2 {
  margin-top: 2%;
  background: rgba(0, 0, 0, .5);
  padding: 20px 20px 20px 20px;
  border-radius : 15px;
  border: 1px solid #f3f702;
}
}