page-editprofile{

.bg{
 
    background: url("../assets/imgs/Bg.png") no-repeat center center fixed;
    background-repeat: no-repeat;
     background-size: cover;
}
.card3{
    border-radius: 7px;
    background-color: transparent;
}

.card4{
    border-radius: 7px;
    background-color: light;
  }
  .iconsize2 {
      color:#464646;
      font-size: 50px;
    }
}
