<ion-header no-border transparent>
  <ion-navbar transparent no-border>
  </ion-navbar>
</ion-header>


<ion-content class="bg">
  <form [formGroup]="form" (ngSubmit)="goto_url_migs()" #urlForm="ngForm">
    <div padding ion-fixed style="height: 100%; width: 100%">
      <ion-chip color="theme">
        <ion-avatar item-start>
          <ion-text-avatar>></ion-text-avatar>
        </ion-avatar>
        <ion-label style="font-weight: bold" >
          Pembayaran ID : {{id_kodtransaksi}}
        </ion-label>
      </ion-chip>


      <ion-card class="card3">

        <div>
          <ion-item color="primary">
            Borang Bayaran
          </ion-item>
          <ion-item>
            <ion-label floating>
              <h4 color="primary">Nama:</h4>
            </ion-label>
            <ion-input type="text" value="{{shownama}}" formControlName="cn" required clearInput disabled="false"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label floating>
              <h4 color="primary">ID:</h4>
            </ion-label>
            <ion-input type="text" value="{{id_kodtransaksi}}" formControlName="ced" required clearInput disabled="false"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label floating>
              <h4 color="primary">Email:</h4>
            </ion-label>
            <ion-input type="text" value="{{showemail}}" formControlName="csc" required disabled="false"></ion-input>
          </ion-item>
        </div>
       
      </ion-card>
      <div *ngIf="showharga == '0.00'">
        <ion-card class="card3">
            <ion-item floating>
                <h4 color="primary">Nilai Bayaran (RM):</h4>
            </ion-item>
          <ion-item>
       
            <ion-input type="text" value="{{(showharga)}}" formControlName="pa" required clearInput>
            </ion-input>

          </ion-item>
        </ion-card>
      </div>
      <div *ngIf="showharga !== '0.00'">
        <ion-card class="card3">
            <ion-item floating>
                <h4 color="primary">Nilai Bayaran (RM):</h4>
            </ion-item> 
          <ion-item>
          
            <ion-input type="text" value="{{(showharga)}}" formControlName="pa" required clearInput disabled="true" >
            </ion-input>

          </ion-item>
        </ion-card>
      </div>


      <ion-chip color="theme">
        <ion-avatar item-start>
          <ion-text-avatar>i</ion-text-avatar>
        </ion-avatar>
        <ion-label style="font-weight: bold" >
          Nota
        </ion-label>
      </ion-chip>
      <ion-card class="card3" padding>

        <p class="ita">Sila sahkan maklumat diatas sebelum membuat proses pembayaran.</p>

      </ion-card>



      <button ion-button block [disabled]="!urlForm.form.valid">Sahkan Maklumat Bayaran</button>
    </div>

  </form>
</ion-content>