page-slide {
    .abs {
        z-index: 2;
        position: absolute;
        bottom: 5%;
        margin-left: auto;
        margin-right: auto;
        color: white
        
    }

    .light{
        color: white;
    }
    ion-slide {
        background-color: #f2f2f2;
      }
  
      ion-slide img {
        //width: 80%;
        //margin: 10% auto 0;
        width: 110%;
        height: 110%;
        //padding-top: 0 !important;
      }

      .absolute {
        
        position: absolute;
        z-index: 2;
       // display: block;
        bottom: 5%;
        margin-left: auto !important;
        margin-right: auto !important;
       
        
    }
     
    }

