page-pay {
    .card3{
        border-radius: 7px;
        
    }
    
}
.bg{
 
    background: url("../assets/imgs/Bg.png") no-repeat center center fixed;
    background-repeat: no-repeat;
    background-size: cover;
    .no-scroll .scroll-content{
        overflow: hidden;
    }
}

.card3{
    border-radius: 7px;
    
}

.textcol{
    color: #2e3192;
}

.ita{
    font-style: italic;
}