page-claim {

    .rounded{
      border-radius: 7px;
    }
    .iconsize {
        color:#464646;
        font-size: 200px;
      }
    .iconsize2 {
        color:#464646;
        font-size: 100px;
      }
      
    .card3{
      border-radius: 7px;
      background-color: transparent;
    }
    .card4{
        border-radius: 7px;
        background-color: light;
    }
    .card-title {
      font-size: 2.0em;
      width: 100%;
      font-weight: bold;
      color: #fff;
    }
  
    .card-subtitle {
      font-size: 0.9em;
      width: 100%;
      color: #fff;
    }

    #cart-btn {
      position: relative;
   }
   
   #cart-badge {
      position: absolute;
      top: 0px;
      right: 0px;
      background-color: red;
      color: rgb(253, 2, 2);
   }
}
