
.bg4{
 
  background: url("../assets/imgs/menubg.png") no-repeat center center fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

  ion-header ion-icon.back-button-icon.icon {
    color: map-get($colors, light);}

  ion-header ion-navbar ion-icon.menuToggle-icon.icon {
    color: map-get($colors, light);
}

.menu-inner{
  background-color: transparent !important;
  background-color: rgba(32, 32, 32, 0);
}

.trans{
  background-color: transparent;
  border-color: rgba(0, 0, 0, 0);
	background-color: rgba(0, 0, 0, 0);
	color: white; 
}

$bar-stable-text: #222;

@import '../theme/fonts';

