page-historydetail {
    .inv{
        color: white;
        
      }
      .has-refresher>.scroll-content {
        border-top: 0;
    } 
.col{
    color: #ffd000;
}

.fixcard{
    border-radius: 18px;
    width: 50% !important;
    

    display: block;
    margin-left: auto;
    margin-right: auto
    
   
}

}
.card4{
    border-radius: 7px;
 
}