page-privatekey {
        ion-title {
          line-height: 10px;
          padding-left: 35px;
      }
      .bg{
        background: url("../assets/imgs/Bg1.png") no-repeat center center fixed;
        //background: url("../assets/imgs/Bg.png") no-repeat center center fixed; 
        background-repeat: no-repeat;
        background-size: cover;
        //flex-shrink: 0;
        //flex-wrap: wrap;
      }
  
          ion-card {
            position: relative;
            text-align: center;
          
          }
          .top_line {
           border-top: 2px solid rgb(0, 10, 26);
          }
          .top_line1 {
           color: rgba(107, 88, 2, 0.904);
           border-top: 1px solid rgb(0, 10, 26);
           font-weight: bold;
          }
          .header {
           color: rgba(107, 88, 2, 0.904);
           font-weight: bold;
          }
          .bold{
            color: rgb(0, 0, 0);
            font-weight: bold;
          }
  
          .rounded{
            border-radius: 7px;
          }
        
          .card-title {
            position: absolute;
            top: 9%;
            font-size: 2.0em;
            width: 100%;
            font-weight: bold;
            color: #fff;
          }
        
          .card-subtitle {
            font-size: 0.9em;
            position: absolute;
            top: 27%;
            width: 100%;
            color: #fff;
          }
          .card3{
            border-radius: 3px;
            background-color: transparent;
          }
        
  .card-center {
    //margin-top: 100%;
    height: 70%; 
    display: flex;
    align-items: center; 
    justify-content: center;
  }

  .top_lineB {
   color: rgba(107, 88, 2, 0.904);
   border-top: 1px solid rgb(0, 10, 26);
   font-weight: bold;
   background: rgb(255, 255, 255);
  }
        
  }
  
