<ion-header no-border>
  <ion-navbar transparent >
    <button ion-button menuToggle>
      <ion-icon name="menu" color="light"></ion-icon>
    </button>
    <ion-title></ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="bg">
  <ion-refresher slot="fixed"  class="inv" 
  (ionRefresh)="ionRefresh($event)" 
  (ionPull)="ionPull($event)" 
  (ionStart)="ionStart($event)">
    <ion-refresher-content 
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

<div padding>
</div>
<div *ngIf="isClaimed==false" padding>
<form [formGroup]="form" (ngSubmit)="popup()" #loginForm="ngForm">
      <ion-row>
        <ion-col>
          <ion-list inset>
            <ion-item>
              <ion-input type="text" placeholder="Paste your private key here" formControlName="pk" required></ion-input>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      
      <ion-row>
          <ion-col class="signup-col">
            <button ion-button class="submit-btn" full type="submit" [disabled]="!loginForm.form.valid">CLAIM</button><br>
          </ion-col>
      </ion-row>
    </form>  
</div>
<div *ngIf="isClaimed==true"><!--BUAT == Lepas siap-->
    <div padding text-center>
        <div>
              <ion-card class="card2">
                <div>
                  <img src="assets/imgs/contoh-sijil.png"/>
                </div>
              </ion-card>
        </div>
      </div>
  
      <!--<ion-card>
      <ion-row>
          <ion-col>
              <ion-buttons color="theme">
                  <button (click)="popup()" ion-button full color="success">CLAIM &nbsp; &nbsp;<ion-icon name="md-checkmark"></ion-icon></button>
              </ion-buttons>    
          </ion-col>
        </ion-row>
        <ion-row><ion-col><button ion-button full color="theme">DOWNLOAD</button></ion-col></ion-row>

        </ion-card>-->
      </div>
</ion-content>