<!--
  Generated template for the AktivititransPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>
  <ion-navbar  transparent no-border>
      <button ion-button menuToggle>
          <ion-icon name="menu" color="dark"></ion-icon>
        </button>
  </ion-navbar>
</ion-header>

<ion-content class="bg">
    <ion-refresher slot="fixed"  class="inv" 
    (ionRefresh)="ionRefresh($event)" 
    (ionPull)="ionPull($event)" 
    (ionStart)="ionStart($event)">
      <ion-refresher-content 
        pullingIcon="arrow-dropdown"
        pullingText="Pull to refresh"
        refreshingSpinner="circles"
        refreshingText="Refreshing...">
      </ion-refresher-content>
    </ion-refresher>
  <div padding>
    <ion-chip color="theme">
      <ion-avatar item-start>
        <ion-text-avatar>></ion-text-avatar>
      </ion-avatar>
      <ion-label style="font-weight: bold" >
        Aktiviti Transaksi
      </ion-label>
    </ion-chip>
  </div>

  <div>
    <ion-card class="card4" *ngFor="let item of items">
      <ion-row>
        <ion-col col-9>
      <ion-row>
        <ion-col col-4 text-left>
          <ion-chip *ngIf="item.status_dokumen == 'YES'">
            <ion-avatar item-start>
              <ion-icon name="arrow-round-down" color="secondary"></ion-icon>
            </ion-avatar>
            <ion-label style="font-weight: bold">
              Penerimaan Dokumen : Selesai
            </ion-label>
          </ion-chip>
          <ion-chip *ngIf="item.status_dokumen == 'NO'">
            <ion-avatar item-start>
              <ion-icon name="arrow-round-down" color="danger"></ion-icon>
            </ion-avatar>
            <ion-label style="font-weight: bold">
              Penerimaan Dokumen : Dalam Proses
            </ion-label>
          </ion-chip>
        </ion-col>
        <ion-col text-right>
        </ion-col>
      </ion-row>
      <ion-row padding>
        <h1 style="font-weight: bold"> RM {{(item.jumlah)}}</h1>
      </ion-row>
      <ion-row padding>
        <p>Tarikh Transaksi :</p>
	<p>{{(item.tarikh)?.substring(8,10)}}/{{(item.tarikh)?.substring(5,7)}}/{{(item.tarikh)?.substring(0,4)}}</p>
      </ion-row>
    </ion-col>
    <ion-col col-3 text-right center class="mar">
        <button ion-button color="primary" round (click)="viewEntry({record : item})"><ion-icon name="arrow-round-forward" ></ion-icon></button>
    </ion-col>
    </ion-row>
    </ion-card>
  </div>


</ion-content>