page-history {

    ion-title {
        line-height: 10px;
        padding-left: 35px;
     }
     
    .inv{
        color: white;
        
      }
      .has-refresher>.scroll-content {
        border-top: 0;
    }  
    .small{
        color: forestgreen;
        border-radius: 2px;
    }
    .small2{
        color: #6f00ff;
        border-radius: 2px;
    }
    .tajuk{
        border-radius: 2px;
    }
}
.bg{
 
    background: url("../assets/imgs/Bg.png") no-repeat center center fixed;
    background-repeat: no-repeat;
     background-size: cover;
}
.card4{
    border-radius: 5px;
    background-color: 60%;
}

.mar{
    margin-top: 60px;
}
