page-senarai {
    .has-refresher>.scroll-content {
        border-top: 0;
    }  
    .ion-col.ran.co{
        color: white
    }
    .inlist2{
        font-weight: bold;
        color:#000000;
    }

}
.card4{
    border-radius: 10px;
}

.roundbutt{
    border-radius :30px;
}


.ita{
    font-style: italic;
}

.ran{
    vertical-align: middle;
    display: flex!important;
    align-content: center!important;
    align-items: center!important;
    padding-left: 20px
  }

  